:root {
    --red-color: #c11325;
    --black-color: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

/*Header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 10;
    padding: 15px;
    background-color: #000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

header .logo a span {
    color: var(--red-color);
}

header .nav {
    position: fixed;
    background-color: var(--red-color);
    width: 280px;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 99;
    padding: 100px 0px 15px;
    transition: 0.5s;
    transform: translateX(280px);
}

header .nav ul li {
    list-style-type: none;
    display: block;
}

.nav__link {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    display: block;
    position: relative;
    padding: 10px 30px;
}


.nav__link.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    transition: width 0.4s ease;
    z-index: -1;
}

.nav__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    transition: width 0.4s ease;
    z-index: -1;
}

.nav__link:hover::before {
    width: 100%;
}

.menu-show {
    transform: translateX(0px) !important;
}

.menu-hide {
    transform: translateX(280px);
}

header .ham-burger {
    display: inline-block;
    position: relative;
    z-index: 100;
}

header .ham-burger span {
    height: 2px;
    width: 30px;
    margin-bottom: 8px;
    display: block;
    background-color: #fff;
}

#menuBtn {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    z-index: 100;
    cursor: pointer;
    text-align: center;
}

#menuBtn img {
    width: 20px;
    margin-top: 15px;
    display: block;
}

/*Home*/

.home {
    height: 100vh;
    background-image: url('../images/home.jpg');
    background-size: cover;
    padding: 15px;
    display: flex;
    position: relative;
}

.home .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.home h1 span {
    color: var(--red-color);
}

.home .go-down {
    position: absolute;
    bottom: 50px;
    width: 26px;
    height: 40px;
    border: 1px solid #fff;
    display: block;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    margin-left: -13px;
}

.home .go-down i {
    color: #fff;
    -webkit-animation: goDown 1s ease infinite;
    animation: goDown 1s ease infinite;
}

@keyframes goDown {
    0% {transform: translateY(0); opacity: 0.5;}
    100% {transform: translateY(10px);}
}

/* About section */

.about {
    padding: 80px 15px;
    background-color: #fff;
}

.about__content {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.about__content .box__inner {
    background-color: var(--black-color);
}

.about__content .col-3:nth-child(2) .box__inner{
    background-color: var(--red-color);
}

.about__content .box__img img {
    width: 100%;
}

.about__content .box__text {
    padding: 30px;
}

.about__content .box__text h4{
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0px 0px 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

.about__content .box__text p {
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

/*Services*/
.service {
    padding: 80px 0;
    background-color: var(--red-color);
}

.service__content {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.service__content .text h2 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    padding: 0 0 20px;
}

.service__content .text p {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin: 0;
    padding: 0 0 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    display: inline-block;
    padding: 8px 30px;
    background-color: var(--black-color);
    color: #fff;
    border: 1px solid transparent;
    transition: all .5s ease;
    cursor: pointer;
}

.service__content .text .btn:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

/*accordian*/

.accordian__container {
    margin-bottom: 5px;
}

.accordian__container .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    padding: 10px 15px;
    cursor: pointer;
}

.accordian__container .head h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

.accordian__container .head .fa {
    color: #fff;
}

.accordian__container .body {
    display: none;
}

.accordian__container.active .body {
    display: block;
}

.accordian__container.active {
    background-color: var(--black-color);
}

.accordian__container.active .head {
    background-color: var(--black-color);
}

.accordian__container.active .body {
    border-top: 1px solid #333333;
    padding: 15px;
}

.accordian__container.active .body p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

/* class */

.classes {
    padding: 80px 0 50px;
}

.classes__content {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

.classes__content .img img {
    width: 100%;
    transform: rotateY(180deg);
}

.classes__content .text h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    padding: 0 0 20px;
}

.classes__content .text p {
    font-size: 15px;
    line-height: 20px;
    color: var(--black-color);
    margin: 0;
    padding: 0 0 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.class-items .item {
    margin-bottom: 30px;
    display: flex;
}

.class-items .item:nth-child(1) {
    background-color: var(--black-color);
}

.class-items .item:nth-child(2) {
    background-color: var(--red-color);
}

.class-items .item .item__text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.class-items .item .item__text h4 {
    font-size: 20px;
    margin: 0;
    padding: 0 0 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-align: left;
}

.class-items .item .item__text p {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.class-items .item .item__text,
.class-items .item .item__img {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
}

.class-items .item .item__img img{
    width: 100%;
    display: block;
}

.class-items .item .item__img .price {
    position: absolute;
    height: 50px;
    width: 60px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.class-items .item:nth-child(1) .item__img .price {
    background-color: var(--red-color);
    left: 0;
    top: 0;
}

.class-items .item:nth-child(2) .item__img .price {
    background-color: var(--black-color);
    right: 0;
    top: 0;
}

.btn-classes {
    font-size: 15px;
    display: inline-block;
    color: #fff;
}

/* strart today */

.start-today {
    background-color: var(--black-color);
}

.btn--red {
    background-color: var(--red-color);
}

.start-today__content {
    display: flex;
    flex-wrap: wrap;
}

.start-today__content .text,
.start-today__content .img {
    padding: 15px;
}

.start-today__content .text h2 {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    padding: 80px 0 20px;
}

.start-today__content .text p {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.start-today__content .img img {
    width: 100%;
    display: block;
}

.btn--red:hover {
    background-color: var(--black-color);
    border: 1px solid #fff;
}

/*Schedule*/

.schedule {
    padding: 80px 0;
}

.schedule__content {
    display: flex;
    flex-wrap: wrap;
}

.schedule__content .text h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    padding: 0 0 20px;
}

.schedule__content .text p {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.schedule__content .img {
    transform: rotateY(180deg);
}

.schedule__content .img img {
    width: 100%;
}

.schedule__table {
    border: 1px solid #eee;
    border-collapse: collapse;
    width: 100%;
}

.schedule__table td {
    border: 1px solid #eee;
    padding: 10px 30px;
    text-align: center;
    color: var(--black-color);
    font-size: 15px;
}

.schedule__table td:first-child {
    color: #fff;
    border: none;
}
.schedule__table tr:nth-child(even) td.day {
    background-color: var(--black-color);
}

.schedule__table tr:nth-child(odd) td.day {
    background-color: #444;
}
.schedule__table tr:first-child td.day {
    background-color: var(--red-color) !important;
}

/*workout gallery*/

.workout-gallery h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    padding: 0 0 20px;
    text-align: center;
}

.workout-gallery__content {
    display: flex;
    flex-wrap: wrap;
}

.workout-gallery__content .col-2 {
    padding: 0;
}

.workout-gallery__content .img img {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s ease;
}

.workout-gallery__content .img img:hover {
    filter: grayscale(0%);
}

/*Package*/
.package {
    padding: 80px 0;
}

.package__text h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    padding: 0 0 20px;
    text-align: center;
}

.package__text p {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-align: left;
    margin: 0 auto;
    padding: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 60%;
}

.package__content {
    display: flex;
    flex-wrap: wrap;
}

.package__price {
    background-color: var(--red-color);
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-weight: 700;
    font-size: 20px;
}

.package__img img {
    width: 100%;
    display: block;
}

.package__desc {
    background-color: #f0f0f0;
    color: var(--black-color);
    text-align: center;
}

.package__desc h3 {
    font-size: 24px;
    padding: 30px 0 20px;
}

.package__desc p {
    font-size: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    text-align: center;
    padding: 0 0 5px;
    font-family: 'Open-sans', sans-serif;
}

.package__content .btn--red {
    margin: 10px 0 30px;
}

.package__content .btn--red:hover {
    background-color: #f0f0f0;
    color: var(--black-color);
    border: 1px solid var(--black-color);
}

/*contact*/
.contact {
    padding: 80px 0;
    background-color: var(--black-color);
}

.contact__content {
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--black-color);
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
}

::placeholder {
    color: #fff;
}

.form-contact .btn {
    font-size: 15px;
    width: 180px;
    height: 45px;
    margin-top: 10px;
}

.contact__text h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--red-color);
    padding: 0 0 20px;
}

.contact__text p {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    margin: 0;
    padding: 0 0 5px;
    margin-bottom: 20px;
    font-family: 'Open-sans', sans-serif;
}

.contact__text ul {
    padding: 0;
    margin: 0;
}

.contact__text ul li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Open-sans', sans-serif;
    font-size: 14px;
}

.contact__text ul li i {
    color: var(--red-color);
    margin-right: 20px;
    font-size: 16px;
}

.contact__text ul li .fa.fa-phone {
    transform: rotateY(180deg);
}

.contact__social a { 
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    padding: 5px 10px;
    background-color: var(--red-color);
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s ease;
}

.contact__social a:hover {
    background-color: #f0f0f0;
    color: var(--black-color);
}

.copyright {
    border-top: 1px solid #333333;
    margin-top: 30px;
    padding-top: 20px;
    color: #c5c5c5;
    font-size: 15px;
}

/*Responsive*/

/* Mobile: width < 740px */
@media screen and (max-width: 739px) {
    .home h1 {
        font-size: 30px;
    }

    .home {
        background-position: center;
    }

    header .nav {
        width: 200px;
    }

    .about__content .col-c-1 {
        padding: 15px 0;
    }

    .col-c-0 {
        display: none;
    }

    .col-c-1 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .class-items .item {
        flex-direction: column;
    }

    .class-items .item .item__text,
    .class-items .item .item__img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .start-today__content .text h2 {
        padding-top: 0;
    }

    .schedule__table td {
        padding: 10px 4px;
    }

}

/* Tablet: width >=740 and width <1024px */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    header .logo a {
        font-size: 40px;
    }

    .home {
        background-position: center;
    }

    .about__content,
    .service__content {
        flex-wrap: wrap;
    }

    .col-m-1 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px;
    }

    .col-m-0 {
        display: none;
    }

    .start-today {
        padding-bottom: 20px;
    }

    .schedule__table td {
        padding: 10px 0;
    }

    .package__desc h3 {
        padding: 30px 5px 20px;
    }
}

/* PC: width >= 1024px */

@media screen and (min-width: 1024px) {

}
